.App {
  text-align: center;
  background-color: #4357692d;
  height: 100vh;
}

.info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.outputs{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.close-btn{
  padding-bottom: 30px;
}

.info-btn{
  padding-top: 85px;
  padding-bottom: 50px;
}

.elem{
  font-size: 24px;
  color: rgb(255, 255, 255);
}

input{
  text-align: center;
  border: none;
  cursor: pointer;
  height: 30px;
}

.btnBox {
  justify-content: center;
  padding: 20px 35%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.optionBtnBox{
  justify-content: center;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1;
  grid-gap: 5px;
}

button{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #014f69;
}


